<div class="VaccumDegassing">
    <p-dialog header="Laddle Furnace" [(visible)]="dialogVD" [modal]="true" showEffect="fade" [style]="{width: '27vw'}" styleClass="p-fluid" [breakpoints]="{'960px': '75vw'}" (onHide)="hideDialog()">
        <p-header>
            <div>
                <span>Vaccum Degassing</span>
            </div>
        </p-header>
        <ng-template pTemplate="content">
            <div class="flex">
                <div class="container-1">
                    <div >
                        <p-table [value]="[{}]" dataKey="id"  selectionMode="single" [paginator]="false" [rows]="11" [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="min-width: 10rem" colspan="2">
                                        <div class="flex justify-content-between align-items-center">
                                            Ferro-alloys
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr>
                                    <td>AlCr</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">60</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SiMn</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">300</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>FeSi65</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">40</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>FeMn78</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">100</label>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="2">No Data found.</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="loadingbody">
                                <tr>
                                    <td colspan="2">Loading Vaccum Degasser data. Please wait.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="mt-2">
                        <p-table [value]="[{}]" dataKey="id"  selectionMode="single" [paginator]="false" [rows]="11" [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="min-width: 10rem" colspan="2">
                                        <div class="flex justify-content-between align-items-center">
                                            Process Stats
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr>
                                    <td>Heat No</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">92787</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ladle No</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">02</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Start Time</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">22/10/2024 15:58</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Finish Time</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">22/10/2024 16:03</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Slag Height</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">100</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Events</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>In Process</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">True</label>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="4">No Data found.</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="loadingbody">
                                <tr>
                                    <td colspan="4">Loading Vaccum Degasser data. Please wait.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="container-2 ml-2">
                    <div>
                        <p-table [value]="[{}]" dataKey="id"  selectionMode="single" [paginator]="false" [rows]="11" [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="min-width: 10rem" rowspan="2">
                                        92787
                                    </th>
                                    <th style="min-width: 10rem" colspan="2">
                                           Steel Analysis                                    
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Act
                                    </th>
                                    <th>
                                        Target
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr>
                                    <td>C</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">0.07</label>
                                    </td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">0.06</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mn</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">1.10</label>
                                    </td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">1.15</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Si</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">05</label>
                                    </td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">04</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>S</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">0.22</label>
                                    </td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">0.24</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>P</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">40</label>
                                    </td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">45</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ai</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">0.0012</label>
                                    </td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">0.0023</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>O2 ppm</td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">50</label>
                                    </td>
                                    <td class="px-2 py-1">
                                        <label class="font-semibold">80</label>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="4">No Data found.</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="loadingbody">
                                <tr>
                                    <td colspan="4">Loading Vaccum Degasser data. Please wait.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            
        </ng-template>
    </p-dialog>
</div>

