.overviewCard{
    height: calc(100vh - 11rem);
}

.bof1{
    width: 20vh;
    height: 21vh;
}
.bof2{
    width: 20vh;
    height: 20vh;
}
.lf{
    width: 20vh;
    height: 21vh;
}
.vd{
    width: 20vh;
    height: 21vh;
}
.cc{
    width: 20vh;
    height: 21vh;
}
.billetyard{
    width: 15vh;
    height: 14vh;
    border: 1px solid rgb(104, 103, 103);
    .billet{
        height: 1vh;
        margin: 4px;
        background-color: gray;
    }
}
.rf{
    width: 20vh;
    height: 21vh;
}
.rm{
    width: 20vh;
    height: 20vh;
}

.coolingBed{
    width: 20vh;
    height: 14vh;
    // margin-right: 4vh;
    border: 1px solid rgb(104, 103, 103);
    .bars{
        height: 1vh;
        margin: 4px;
        background-color: rgb(255, 191, 0);
    }
}

.cbCol{
    border: 1px solid black;
    height: 2vh;
    width: 7vh;
    text-align: center;
    font-size: small;
    font-weight: 500;
}

.cs{
    width: 14vh;
    height: 18vh;
}

.il{
    width: 40vh;
    height: 18vh;
}

.bundlingArea{
    width: 15vh;
    height: 14vh;
    margin-top: 2vh;
    border: 1px solid rgb(104, 103, 103);
    .bundle{
        height: 2vh;
        margin: 4px;
        color: white;
        background-color: gray;
        &:hover {
           background-color: rgb(93, 92, 92);
        }
    }
}
.il1BundleArea{
    width: 7vh;
    height: 7vh;
    text-align: center;
    // margin-top: 2vh;
    border: 1px solid rgb(104, 103, 103);
    .bundle{
        height: 2vh;
        margin: 4px;
        color: white;
        background-color: gray;
        &:hover {
           background-color: rgb(93, 92, 92);
        }
    }
}

.il2BundleArea{
    width: 7vh;
    height: 7vh;
    // margin-top: 2vh;
    text-align: center;
    border: 1px solid rgb(104, 103, 103);
    .bundle{
        height: 2vh;
        margin: 4px;
        color: white;
        background-color: gray;
        &:hover {
           background-color: rgb(93, 92, 92);
        }
    }
}

.bg-yellow{
    background-color: rgb(255, 191, 0) !important;
    &:hover {
        background-color: rgb(176, 134, 9) !important;
    }
}

.row2{
    margin-top: 4vh;
    margin-bottom: 3vh;
}
.row3{
    margin-top: 5vh;
}

.strBed{
    width: 7vh;
    height: 7vh;
    margin-top: 3vh;
    border: 1px solid rgb(104, 103, 103);
    .strBundle{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        padding: 6px;
        text-align: center;
        margin: 2px;
        background-color: rgb(255, 191, 0);
        &:hover {
            background-color: rgb(93, 92, 92) !important;
            color: white;
         }
    }
}

.rack1{
    width: 37vh;
    height: 14vh;
    // margin-right: 4vh;
    border: 1px solid rgb(104, 103, 103);
    .bundles{
        height: 44px;
        width: 44px;
        border-radius: 50%;
        padding: 6px;
        // display: inline-block;
        text-align: center;
        margin: 4px;
        background-color: rgb(255, 191, 0);
        &:hover {
            background-color: rgb(93, 92, 92) !important;
            color: white;
         }
    }

}

.udtbar {
   display: block;
    height: 8px;
    border: 1px solid rgb(175, 173, 173);
    background-color: rgb(203, 203, 203);
    margin-top: -6px;
    width: 100px;
    position: relative;
    top: -9px;
    left: -17px;
    animation: _ngcontent-hir-c106_fadeAnim 3s 100;
    animation-direction: alternate;
}

.okbar {
    display: block;
     height: 8px;
     border: 1px solid rgb(175, 173, 173);
     background-color: rgb(203, 203, 203);
     margin-top: -6px;
     width: 100px;
     position: relative;
     top: -11px;
     left: 106px;
     animation: _ngcontent-hir-c106_fadeAnim 3s 100;
     animation-direction: alternate;
 }
 
 .mpi1bar {
    display: block;
     height: 8px;
     border: 1px solid rgb(175, 173, 173);
     background-color: rgb(203, 203, 203);
     margin-top: -6px;
     width: 100px;
     position: relative;
     top: -85px;
     left: 106px;
     animation: _ngcontent-hir-c106_fadeAnim 3s 100;
     animation-direction: alternate;
 }
 .mpi2bar {
    display: block;
     height: 8px;
     border: 1px solid rgb(175, 173, 173);
     background-color: rgb(203, 203, 203);
     margin-top: -6px;
     width: 100px;
     position: relative;
     top: -70px;
     left: 106px;
     animation: _ngcontent-hir-c106_fadeAnim 3s 100;
     animation-direction: alternate;
 }

.Straightener{
    height: 3vh;
    width: 9vh;
    background-color: gray;
    border: 1px solid rgb(75, 73, 73);
    color: white;
    margin-top: 9vh;
    .header{
        margin: 3px;
    }
    &:hover {
        background-color: rgb(93, 92, 92) !important;
     }
}

.udt{
    height: 5vh;
    width: 4vh;
    background-color: gray;
    border: 1px solid rgb(75, 73, 73);
    color: white;
    margin-top: 7vh;
    .header{
        margin: 4px;
    }
    &:hover {
        background-color: rgb(93, 92, 92) !important;
    }
}

.rejected{
    border: 1px solid rgb(165, 5, 5);
    height: 2vh;
    width: 3vh;
    padding: 1px;
    text-align: center;
}

.mpi{
    background-color: rgb(165, 5, 5);
    border-color: rgb(113, 6, 6);
    height: 3vh;
    width: 3vh;
    color: white;
    padding: 1px;
}