.barPlanning{

    .fieldWidth{
        width: 14rem;
    }
    // .statuscolor_1{
    //     color: black;
    // }
    .statuscolor_2{
        color: orange;
    }
    .statuscolor_3{
        color: green;
    }
    .statuscolor_4{
        color: blue;
    }

}