<div class="p-card prodCardText text-center mb-3">
    <span class="text-900 font-medium">PRODUCTION</span>
</div>
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-2">
        <div class="card prodCard text-center ">
            <span class="block text-900 font-medium">Shift</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="line" [data]="shiftProdData" [options]="shiftProdOptions" [plugins]="plugin"
                    height="180px" />
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card prodCard text-center ">
            <span class="block text-900 font-medium">Day</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="bar" [data]="dayProdData" [options]="dayProdOptions" [plugins]="plugin" height="180px" />
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-2">
        <div class="card prodCard text-center ">
            <span class="block text-900 font-medium">Month</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="bar" [data]="monthProdData" [options]="monthProdOptions" [plugins]="plugin"
                    height="180px" />
            </div>
        </div>
    </div>
    <div class="col-9 lg:col-6 xl:col-4">
        <div class="card prodCard text-center ">
            <span class="block text-900 font-medium">Actual - Planned</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="bar" [data]="actualPlannedData" [options]="actualPlannedOptions" [plugins]="plugin"
                    height="180px" />
            </div>
        </div>
    </div>
    <div class="col-3 lg:col-6 xl:col-1">
        <div class="p-card p-2 text-center ">
            <!-- <span class="block text-900 font-medium  mb-5">Cobble</span> -->
            <span class="block text-900 font-medium mt-5 mb-3">Last Cobble</span>
            <div class="font-medium flex justify-content-center align-items-center mb-3">
                <span class="text-red-500 text-5xl mr-2">{{cobbleTime}}</span> <span>Hrs</span>
            </div>
            <div class="font-medium flex justify-content-center align-items-center mb-3">
                <span class="text-sm">17/11/24 09:23</span>
            </div>
            <div class="flex justify-content-center align-items-center mb-5">
                <span class="text-sm mr-2">Billet : </span><span class="font-medium ">302164</span>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-4">
        <div class="card prodCard">
            <span class="block text-900 font-medium">Billets Rolled in Shift</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="bar" [data]="shiftCountData" [options]="shiftCountOptions" [plugins]="plugin"
                    height="180px" />
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-4">
        <div class="card prodCard">
            <span class="block text-900 font-medium">Delay</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="line" [data]="delayData" [options]="delayOptions" [plugins]="plugin" height="180px" />
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-4">
        <div class="card prodCard">
            <span class="block text-900 font-medium">Hourly Production Rate</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="line" [data]="hourlyProdData" [options]="hourlyProdOptions" [plugins]="plugin"
                    height="180px" />
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-3">
        <div class="card prodCard">
            <span class="block text-900 font-medium">Equipment Efficiency</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="line" [data]="equipData" [options]="equipOptions" [plugins]="plugin" height="180px" />
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-3">
        <div class="card prodCard">
            <span class="block text-900 font-medium">Yield</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="line" [data]="yieldData" [options]="yieldOptions" [plugins]="plugin" height="180px" />
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-3">
        <div class="card prodCard">
            <span class="block text-900 font-medium">Yield Loss</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="line" [data]="yieldLossData" [options]="yieldLossOptions" [plugins]="plugin"
                    height="180px" />
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 xl:col-3">
        <div class="card prodCard">
            <span class="block text-900 font-medium">Defect Rate</span>
            <div class="text-900 font-medium text-4xl">
                <p-chart type="bar" [data]="defectData" [options]="defectOptions" [plugins]="plugin" height="180px" />
            </div>
        </div>
    </div>
</div>