<div class="p-card p-3" style="padding-top: 5px; background-color: #d1e1e8;">
    <div class=" flex justify-content-evenly align-items-center">
        <div></div>
        <div></div>
        <div></div>
        <div class="flex">
            <div class="p-card flex justify-content-center align-items-center p-2">
                <div class="circle blink_me" [ngStyle]="{ 'background-color': 'green' }">
                </div>
                <div class="ml-2 font-semibold">LEVEL 1</div>
            </div>
            <div class="p-card flex justify-content-center align-items-center p-2 ml-2">
                <div class="circle blink_me" [ngStyle]="{ 'background-color': 'green' }">
                </div>
                <div class="ml-2 font-semibold">LEVEL 2</div>
            </div>
            <div class="p-card flex justify-content-center align-items-center p-2 ml-2">
                <div class="circle blink_me" [ngStyle]="{ 'background-color': 'green' }">
                </div>
                <div class="ml-2 font-semibold">LEVEL 3</div>
            </div>
            <!-- <div class="p-card flex justify-content-center align-items-center p-2 ml-2">
                <div class="circle blink_me" [ngStyle]="{ 'background-color': 'orange' }">
                </div>
                <div class="ml-2 font-semibold">FINISHING AREA</div>
            </div> -->
        </div>
        <div></div>
        <div>
            <input type="text" pInputText   style="border-top-right-radius: 0%;border-bottom-right-radius: 0%; height: 32px;"/>
            <button class="p-button p-button-info    mr-3" style="border-top-left-radius: 0%;border-bottom-left-radius: 0%; " >search</button>
        </div>
    
    </div>
    <div class="p-card font-medium mt-2" style="border-top: 1px solid rgb(213, 210, 210);">
        <marquee direction="left" behavior="scroll" style="color: red;">
            Our target for today is to produce 500 tons of steel by the end of the shift
        </marquee>
    </div>
    <div  class="mt-1">
        <p-table [value]="productionPlanData" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'70px'"
        [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr >
                    <th >Date</th>
                    <th >SO</th>
                    <th >Line Item</th>
                    <th >Product</th>
                    <th >Customer</th>
                    <th >PO</th>
                    <th > Heat No</th>
                    <th > No of Billets</th>
                    <th > Grade</th>
                    <th > Classification</th>
                    <th > Size (mm)</th>
                    <th > Order Qty (MT)</th>
                    <th >  TAS NO.</th>
                    <th > REV. NO.</th>
                    <th > Length (mm)</th>
                    <th > Inspected in</th>
                    <th > Status</th>                 
    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <!-- <tr style="background-color: #90fc90;"> -->
              <tr class="font-semibold" [ngStyle]="{'background-color' : rowData.color,'color': 'blue'}">
                <td>{{rowData.date}} </td>
                <td> {{rowData.so}}</td>
                <td> {{rowData.lineItem}} </td>   
                <td> {{rowData.product}} </td>   
                <td>{{rowData.customer}}</td>   
                <td> {{rowData.po}}</td>   
                <td> {{rowData.heatNo}}</td>   
                <td> {{rowData.noOfBillets}}</td>   
                <td> {{rowData.grade}}</td>   
                <td> {{rowData.classification}}</td>   
                <td> {{rowData.size}}</td>   
                <td> {{rowData.orderQty}}</td>   
                <td> {{rowData.tas}}</td>   
                <td>{{rowData.rev}}</td>   
                <td> {{rowData.length}}</td>   
                <td>{{rowData.inspected}}</td>   
                <td>
                    <div class="noload">
                        <span class="loadtext" id="loadspan">{{rowData.status}}</span>
                        <div [ngStyle]="{width : rowData.status}" class="load" id="loaddiv">
                        </div>
                    </div>
                </td>              
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="17">No Data found.</td>
                </tr>
            </ng-template>
        </p-table>

    
    </div> 
    <div class="col-12 p-0 mt-1 flex">
        <div class="col-2 p-1">
            <div class="p-card p-3" style="background-color: #2e838d; color: white;">
                <div class="flex justify-content-between">
                    <div>
                        <span class=" font-semibold lg:text-lg xl:text-xl"> Production (t)</span>
                    </div>
                    <div class="flex justify-content-center align-items-center">
                        <!-- <div>
                            <span class="font-semibold">Act / Plan</span><span class="ml-1">:</span>
                        </div> -->
                        <div class="font-medium lg:text-lg xl:text-xl ml-1">
                            <span  style="color: orange;">18,500</span>/
                            <span  style="color: #3ff83f;">20,000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-2 p-1">
            <div class="p-card p-3" style="background-color: #2e838d; color: white;">
                <div class="flex justify-content-between">
                    <div>
                        <span class=" font-semibold  text-xl">  Yield (%)</span>
                    </div>
                    <div class="flex justify-content-center align-items-center">
                        <div>
                            <span class="font-semibold">Actual / Plan</span><span class="ml-1">:</span>
                        </div>
                        <div class="font-medium text-xl ml-1">
                            <span  style="color: orange;">95</span>/
                            <span  style="color: #3ff83f;">96</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-2 p-1">
            <div class="p-card p-3" style="background-color: #2e838d; color: white;">
                <div class="flex justify-content-between">
                    <span class=" font-semibold  text-xl">  Delay </span>
                    <div class="flex justify-content-center align-items-center">
                        <div>
                            <span class="font-semibold">Actual / Plan</span><span class="ml-1">:</span>
                        </div>
                        <div class="font-medium text-xl  ml-1">
                            <span  style="color: orange;">88</span>/
                            <span  style="color: #3ff83f;">90</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-2 p-1">
            <div class="p-card p-3" style="background-color: #2e838d; color: white;">
                <div class="flex justify-content-between">
                    <span class=" font-semibold  text-xl">  Shift </span>
                    <div class="flex justify-content-center align-items-center">
                        <span class="font-semibold">Team</span><span class="ml-2">:</span><span class="font-medium text-xl  ml-2">A</span>
                    </div>
                    <div class="flex justify-content-center align-items-center">
                        <span class="font-semibold">Crew</span><span class="ml-2">:</span><span class="font-medium text-xl  ml-2">ABC</span>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-4 p-1">
            <div class="p-card p-3" style="background-color: #2e838d; color: white;">
                <div class="flex justify-content-between">
                    <span class=" font-semibold  text-xl">  Power Consumption </span>
                    <div class="flex justify-content-center align-items-center">
                       <span class="font-medium text-xl  ml-2"><span style="color: #3ff83f;">4</span>-<span style="color: #3ff83f;">6</span> GJ/ton</span>
                    </div>
                    <div class="flex justify-content-center align-items-center">
                        <span class="font-semibold">Monthly</span><span class="ml-2">:</span><span class="font-medium text-xl  ml-2"><span style="color: #3ff83f;">6,000</span> - <span style="color: #3ff83f;">12,000</span> MWh</span>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="p-card mt-1 flex justify-content-center align-items-center p-1" style="height: 20vh;background-color: #f3f8ff;">
        <div class="flex justify-content-between" style="width: 100%;">
            <div>
                <div [class]="'bof_'+ bofClass"></div>
                <div class="flex  mt-3">
                    <div class="p-card text-center p-2" style="width: 80%;">
                        <span class="font-medium"> BOF-1</span>
                    </div>
                    <button pButton pRipple icon="pi pi-eye" pTooltip="View Details" tooltipPosition="top"
                        class="Button p-button-info mt-1" style="height: 3vh;" (click)="bof1DetailsShow()"></button>
                </div>
            </div>
            <div>
                <div [class]="'bof_'+ bofClass"></div>
                <div class="flex  mt-3">
                    <div class="p-card text-center p-2" style="width: 80%;">
                        <span class="font-medium"> BOF-2</span>
                    </div>
                    <button pButton pRipple icon="pi pi-eye" pTooltip="View Details" tooltipPosition="top"
                        class="Button p-button-info mt-1" style="height: 3vh;" (click)="bof2DetailsShow()"></button>
                </div>
            </div>
            <div> 
                <div [class]="'lf_'+ lfClass"></div>
                <div class="flex  mt-3">
                    <div class="p-card text-center p-2" style="width: 80%;">
                        <span class="font-medium"> LF</span>
                    </div>
                    <button pButton pRipple icon="pi pi-eye" pTooltip="View Details" tooltipPosition="top"
                        class="Button p-button-info mt-1" style="height: 3vh;" (click)="lfDetailsShow()"></button>
                        <!-- <div *ngIf="lfDetails" class="p-card p-2 DetailsCard">
                            <div style="width: 17rem;">
                                <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'137px'"
                                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                                    <ng-template pTemplate="body" let-rowData>
                                    <tr >
                                        <td style="border-top:1px solid rgb(204, 204, 204)">Person in Charge</td>
                                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">Abcd</td>              
                                    </tr>
                                    <tr>
                                        <td>Heat No</td>
                                        <td class="font-medium">92339</td>              
                                    </tr>
                                    <tr>
                                        <td>Grade</td>
                                        <td class="font-medium">SAE1018</td>              
                                    </tr>
                                    <tr>
                                        <td>Start Time</td>
                                        <td class="font-medium">30/10/2024 06:11</td>              
                                    </tr>
                                    <tr>
                                        <td style="width: 7rem;">Finish Time</td>
                                        <td class="font-medium" style="width: 10rem;">30/10/2024 09:23</td>              
                                    </tr>
                                    <tr>
                                        <td>Ladle No</td>
                                        <td class="font-medium">H7</td>              
                                    </tr>
                                    <tr>
                                        <td>Weight (t)</td>
                                        <td class="font-medium">31.7</td>              
                                    </tr>
                                    <tr>
                                        <td>Oxygen Nm³/min</td>
                                        <td class="font-medium">300</td>              
                                    </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div> -->
                </div>
            </div>
            <div>
                <div [class]="'vd_'+ vdClass"></div>
                <div class="flex  mt-3">
                    <div class="p-card text-center p-2" style="width: 80%;">
                        <span class="font-medium"> VD</span>
                    </div>
                    <button pButton pRipple icon="pi pi-eye" pTooltip="View Details" tooltipPosition="top"
                        class="Button p-button-info mt-1" style="height: 3vh;" (click)="vdDetailsShow()"></button>
                </div>
            </div>
            <div style="width: 17rem;">
                <div class="font-medium text-center mt-2" style="height: 3vh;">
                    <span>MELTING STATION</span>
                </div>
                <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'137px'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                      <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">Heat No</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">92339</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="font-medium">30/10/2024 06:11</td>              
                    </tr>
                    <tr>
                        <td style="width: 7rem;">Finish Time</td>
                        <td class="font-medium" style="width: 10rem;">30/10/2024 09:23</td>              
                    </tr>
                    <tr>
                        <td>Ladle No</td>
                        <td class="font-medium">H7</td>              
                    </tr>
                    <tr>
                        <td>Weight (t)</td>
                        <td class="font-medium">31.7</td>              
                    </tr>
                    <tr>
                        <td>Oxygen Nm³/min</td>
                        <td class="font-medium">300</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>
            <div>
                <div [class]="'ccm_'+ ccmClass"></div>
                <div class="flex  mt-3">
                    <div class="p-card text-center p-2" style="width: 80%;">
                        <span class="font-medium"> CCM</span>
                    </div>
                    <button pButton pRipple icon="pi pi-eye" pTooltip="View Details" tooltipPosition="top"
                        class="Button p-button-info mt-1" style="height: 3vh;" (click)="ccmDetailsShow()"></button>
                </div>
            </div>  
            <div style="width: 17rem;">
                <div class="font-medium text-center mt-2" style="height: 3vh;">
                    <span>CONTINOUS CASTING</span>
                </div>
                <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'137px'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                      <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">Heat No</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">92339</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="font-medium">30/10/2024 10:25</td>              
                    </tr>
                    <tr>
                        <td>Finish Time</td>
                        <td class="font-medium">30/10/2024 14:53</td>              
                    </tr>
                    <tr>
                        <td>Ladle No</td>
                        <td class="font-medium">H6</td>              
                    </tr>
                    <tr>
                        <td>Weight (t)</td>
                        <td class="font-medium">6.5</td>              
                    </tr> 
                    <tr>
                        <td>Strands</td>
                        <td class="font-medium">3</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>
            <div>
                <div class="card standCard" [class]="'standBackground_' + standClass">
                    <div id="container1">
                        <div class="circle1"  ></div>
                    </div> 
                    <div></div>             
                    <div id="container">
                        <div class="circle1"></div>
                    </div>
                </div>
                <div class="flex  mt-3">
                    <div class="p-card text-center p-2" style="width: 80%;">
                        <span class="font-medium">STAND</span>
                    </div>
                    <button pButton pRipple icon="pi pi-eye" pTooltip="View Details" tooltipPosition="top"
                        class="Button p-button-info mt-1" style="height: 3vh;" (click)="standDetailsShow()"></button>
                </div>
            </div>
            <div style="width: 17rem;">
                <div class="font-medium text-center mt-2" style="height: 3vh;">
                    <span>ROLLING MILL</span>
                </div>
                <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'137px'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                      <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">PO</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">193056</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Temp (°C)</td>
                        <td class="font-medium">1250</td>              
                    </tr>
                    <tr>
                        <td>Efficiency (%)</td>
                        <td class="font-medium">70</td>              
                    </tr>
                    <tr>
                        <td>Cons. (kWh/t)</td>
                        <td class="font-medium">380</td>              
                    </tr>
                    <tr>
                        <td>Next maintenance in (hr)</td>
                        <td class="font-medium">15</td>              
                    </tr>
                    <tr>
                        <td>Speed (m/s)</td>
                        <td class="font-medium">8.5</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>  
            <div style="width: 17rem;">
                <div class="font-medium text-center mt-2" style="height: 3vh;">
                    <span>FINISHING AREA</span>
                </div>
                <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'137px'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                      <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">Heat No</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">92339</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="font-medium">30/10/2024 17:25</td>              
                    </tr>
                    <tr>
                        <td style="width: 7rem;">Finish Time</td>
                        <td class="font-medium" style="width: 10rem;">30/10/2024 19:25</td>              
                    </tr>
                    <tr>
                        <td>Packed (80%)</td>
                        <td class="font-medium">80</td>              
                    </tr>
                    <tr>
                        <td>Downtime (hr)</td>
                        <td class="font-medium">1.5</td>              
                    </tr>
                    <tr>
                        <td>Throughput (bars/hr)</td>
                        <td class="font-medium">350</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>  
        </div>
    </div>
    <div class="col-12 p-0 mt-1 flex">
        <div class="col-3 p-1">
            <div class="card p-0">
                <div class="text-center mt-2">
                    <span class="font-medium">PRODUCTION</span>
                </div>
                <p-carousel [value]="productionGraphs" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
                    <ng-template let-product pTemplate="item">
                        <div class="border-1 surface-border border-round p-1">
                            <span class="block text-900 font-medium">{{product.name}}</span>
                            <div class="text-900 font-medium text-4xl">
                                <p-chart type="line" [data]="product.data" [options]="product.options" [plugins]="plugin"
                                    height="130px" (click)="productionScreen()" />
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
        <div class="col-3  p-1">
            <div class="card p-0" style="height: 100%;">
                <div class="text-center mt-2">
                    <span class="font-medium">ASSET MONITORING</span>
                </div>
                <div class="flex justify-content-center align-items-center"  style="height: 100%;">
                    <p-carousel 
                    #myCarousel
                    [value]="AssetsData" 
                    [numVisible]="1" 
                    [numScroll]="1" 
                    [circular]="true" 
                    
                    [autoplayInterval]="4000" style="width: 100%;">
                        <ng-template let-product pTemplate="item">
                            <div  [class]="product.borderclass">
                                <div class="text-center">
                                    <span class="block text-900 font-medium">{{product.name}}</span>
                                </div>
                                <div class="text-900 flex font-medium ml-3 mt-3">
                                    <div class="assetCircle blink_me mr-1" [ngStyle]="{ 'background-color': product.circleColor }">
                                    </div>
                                    <span>{{product.status}}</span>
                                </div>
                                <div class="text-900 text-sm font-medium ml-3 mt-3 mb-2">
                                    <span>{{product.data}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
        <div class="col-3  p-1">
            <div class="card p-0"  style="height: 100%;">
                <div class="text-center mt-2">
                    <span class="font-medium">COST MODULE</span>
                </div>
                <p-carousel 
                [value]="costGraphs" 
                [numVisible]="1" 
                [numScroll]="1" 
                [circular]="true" 
                [autoplayInterval]="3000">
                    <ng-template let-cost pTemplate="item">
                        <div class="border-1 surface-border border-round p-1">
                            <span class="block text-900 font-medium">{{cost.name}}</span>
                            <div class="text-900 font-medium text-4xl">
                                <p-chart type="line" [data]="cost.data" [options]="cost.options" [plugins]="plugin" height="130px"/>
                            </div>
                        </div>
                    </ng-template>
            </p-carousel>
            </div>
        </div>
        <div class="col-3  p-1">
            <div class="card p-0 redBorderBlink" style="height: 100%;">
                <div class="text-center mt-2">
                    <span class="font-medium">ANOMALY</span>
                </div>
                <div class="flex justify-content-center align-items-center"  style="height: 100%;">
                    <p-carousel 
                    [value]="anomalyData" 
                    [numVisible]="1" 
                    [numScroll]="1" 
                    [circular]="true"                     
                    [autoplayInterval]="4000" style="width: 100%;">
                        <ng-template let-anomaly pTemplate="item">
                           <div class="card p-2 anomalyCardBlink" (click)="anomalyScreen()">
                                <!-- <div class="border-1 surface-border border-round p-1"> -->
                                    <div class="text-center">
                                        <span class="block text-900 font-medium">{{anomaly.name}}</span>
                                    </div>
                                    <div class="text-900 font-medium  mt-2">
                                        <span>{{anomaly.date}}</span><span class=" ml-2" style="color: red;">{{anomaly.type}}</span>
                                    </div>
                                    <div class="text-900 text-sm font-medium  mt-2">
                                        <span>{{anomaly.data}}</span>
                                    </div>
                                <!-- </div> -->
                           </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 p-0 flex">
        <div class="col-3 p-1">
            <div class="card p-2" style="height: 100%;">
                <div class="text-center">
                    <span class="font-medium">INVENTORY</span>
                </div>
                <div class="border-1 surface-border border-round p-1">
                    <div class="text-900 font-medium text-4xl">
                        <p-chart type="line" [data]="inventoryChartData" [options]="inventoryOptions" [plugins]="plugin" height="160px" (click)="productionScreen()"/>
                    </div>
                </div>             
            </div>
        </div>
        <div class="col-3  p-1">
            <div class="card p-0"  style="height: 100%;">
                <div class="text-center mt-2">
                    <span class="font-medium">PERFORMANCE</span>
                </div>
                <!-- <div class="card"> -->
                    <p-carousel 
                        [value]="performanceGraphs" 
                        [numVisible]="1" 
                        [numScroll]="1" 
                        [circular]="true" 
                        [autoplayInterval]="3000">
                            <ng-template let-product pTemplate="item">
                                <div class="border-1 surface-border border-round p-1">
                                    <span class="block text-900 font-medium">{{product.name}}</span>
                                    <div class="text-900 font-medium text-4xl">
                                        <p-chart type="line" [data]="product.data" [options]="product.options" [plugins]="plugin" height="130px" (click)="productionScreen()"/>
                                    </div>
                                </div>
                            </ng-template>
                    </p-carousel>
                <!-- </div> -->
            </div>
        </div>
        <div class="col-3  p-1">
            <div class="card p-0"  style="height: 100%;background-color: #f3ffff;border: 1px solid #b6dcff;">
                <div class="text-center mt-2">
                    <span class="font-medium">OPERATOR LOGS</span>
                </div>
                <div  class="mt-1 p-4" style="height: 12vh;">
                    <div class="p-card flex justify-content-between p-2 mt-1 font-medium" *ngFor="let item of operatorLogs" style="border: 1px solid rgb(213, 210, 210);">
                        <span>{{item.data}}</span>
                        <div>
                            <i class="pi pi-check mr-2" style="color: green;"></i>
                            <i class="pi pi-times" style="color: red;"></i>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center">
                    <input type="text" pInputText placeholder="Enter here"   style="border-top-right-radius: 0%;border-bottom-right-radius: 0%; height: 32px;width: 80%;" [(ngModel)]="logItem" />
                    <button class="p-button p-button-success" style="border-top-left-radius: 0%;border-bottom-left-radius: 0%; " (click)="addLogItem()" >+</button>        
                </div>
            </div>
        </div>
        <div class="col-3  p-1">
            <div class="card p-0" style="height: 100%; background-color: #dbdbdb;border: 1px solid #bdbcbc;">
                <div class="text-center mt-2">
                    <span class="font-medium">VIDEO FEEDS</span>
                </div>
                <div class="flex justify-content-center align-items-center" style="height: 85%;">
                    <div>
                        <i class="pi pi-video" style="color: white;font-size: 2.5rem"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-dialog header="BOF1" [(visible)]="bof1Details" [modal]="true" showEffect="fade" [style]="{width: '20vw'}" styleClass="p-fluid" [breakpoints]="{'960px': '75vw'}" (onHide)="hideDialog()">
        <p-header>
            <div>
                <span>BOF-1</span>
            </div>
        </p-header>
        <ng-template pTemplate="content">
            <div style="width: 18vw;">
                <p-table [value]="[{}]" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'80vh'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                    <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">Person in Charge</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">Abcd</td>              
                    </tr>
                    <tr>
                        <td>Deviations</td>
                        <td class="font-medium">C: -5%  <br> Mn: +3%  <br> Cr: -1%</td>              
                    </tr>
                    <tr>
                        <td>Heat No</td>
                        <td class="font-medium">92339</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="font-medium">30/10/2024 06:11</td>              
                    </tr>
                    <tr>
                        <td>Finish Time</td>
                        <td class="font-medium">30/10/2024 06:44</td>              
                    </tr>
                    <tr>
                        <td>Ladle No</td>
                        <td class="font-medium">H7</td>              
                    </tr>
                    <tr>
                        <td>Weight (t)</td>
                        <td class="font-medium">31.7</td>              
                    </tr>
                    <tr>
                        <td>Oxygen Nm³/min</td>
                        <td class="font-medium">1851</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog header="BOF2" [(visible)]="bof2Details" [modal]="true" showEffect="fade" [style]="{width: '20vw'}" styleClass="p-fluid" [breakpoints]="{'960px': '75vw'}" (onHide)="hideDialog()">
        <p-header>
            <div>
                <span>BOF-2</span>
            </div>
        </p-header>
        <ng-template pTemplate="content">
            <div style="width: 18vw;">
                <p-table [value]="[{}]" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'80vh'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                    <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">Person in Charge</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">Abcd</td>              
                    </tr>
                    <tr>
                        <td>Deviations</td>
                        <td class="font-medium">C: -5%  <br> Mn: +3%  <br> Cr: -1%</td>              
                    </tr>
                    <tr>
                        <td>Heat No</td>
                        <td class="font-medium">92339</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="font-medium">30/10/2024 7:15</td>              
                    </tr>
                    <tr>
                        <td>Finish Time</td>
                        <td class="font-medium">30/10/2024 07:44</td>              
                    </tr>
                    <tr>
                        <td>Ladle No</td>
                        <td class="font-medium">H7</td>              
                    </tr>
                    <tr>
                        <td>Weight (t)</td>
                        <td class="font-medium">31.7</td>              
                    </tr>
                    <tr>
                        <td>Oxygen Nm³/min</td>
                        <td class="font-medium">1851</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog header="LF" [(visible)]="lfDetails" [modal]="true" showEffect="fade" [style]="{width: '20vw'}" styleClass="p-fluid" [breakpoints]="{'960px': '75vw'}" (onHide)="hideDialog()">
        <p-header>
            <div>
                <span>Ladle Furnace</span>
            </div>
        </p-header>
        <ng-template pTemplate="content">
            <div style="width: 18vw;">
                <p-table [value]="[{}]" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'80vh'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                    <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">Person in Charge</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">Abcd</td>              
                    </tr>
                    <tr>
                        <td>Heat No</td>
                        <td class="font-medium">92339</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="font-medium">30/10/2024 8:30</td>              
                    </tr>
                    <tr>
                        <td>Finish Time</td>
                        <td class="font-medium">30/10/2024 8:59</td>              
                    </tr>
                    <tr>
                        <td>Ladle No</td>
                        <td class="font-medium">04</td>              
                    </tr>
                    <tr>
                        <td>Weight (t)</td>
                        <td class="font-medium">99.3</td>              
                    </tr>
                    <tr>
                        <td>Oxygen Nm³/min</td>
                        <td class="font-medium">67.54</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog header="VD" [(visible)]="vdDetails" [modal]="true" showEffect="fade" [style]="{width: '20vw'}" styleClass="p-fluid" [breakpoints]="{'960px': '75vw'}" (onHide)="hideDialog()">
        <p-header>
            <div>
                <span>Vaccum Degassing</span>
            </div>
        </p-header>
        <ng-template pTemplate="content">
            <div style="width: 18vw;">
                <p-table [value]="[{}]" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'80vh'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                    <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">Person in Charge</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">Abcd</td>              
                    </tr>
                    <tr>
                        <td>Heat No</td>
                        <td class="font-medium">92339</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="font-medium">30/10/2024 09:00</td>              
                    </tr>
                    <tr>
                        <td>Finish Time</td>
                        <td class="font-medium">30/10/2024 09:23</td>              
                    </tr>
                    <tr>
                        <td>Ladle No</td>
                        <td class="font-medium">04</td>              
                    </tr>
                    <tr>
                        <td>Weight (t)</td>
                        <td class="font-medium">32.5</td>              
                    </tr>
                    <tr>
                        <td>Oxygen Nm³/min</td>
                        <td class="font-medium">15</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog header="CCM" [(visible)]="ccmDetails" [modal]="true" showEffect="fade" [style]="{width: '20vw'}" styleClass="p-fluid" [breakpoints]="{'960px': '75vw'}" (onHide)="hideDialog()">
        <p-header>
            <div>
                <span>Continous Casting</span>
            </div>
        </p-header>
        <ng-template pTemplate="content">
            <div style="width: 18vw;">
                <p-table [value]="[{}]" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'80vh'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                    <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">Person in Charge</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">Abcd</td>              
                    </tr>
                    <tr>
                        <td>Heat No</td>
                        <td class="font-medium">92339</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="font-medium">30/10/2024 06:11</td>              
                    </tr>
                    <tr>
                        <td>Finish Time</td>
                        <td class="font-medium">30/10/2024 09:23</td>              
                    </tr>
                    <tr>
                        <td>Ladle No</td>
                        <td class="font-medium">H7</td>              
                    </tr>
                    <tr>
                        <td>Weight (t)</td>
                        <td class="font-medium">31.7</td>              
                    </tr>
                    <tr>
                        <td>Oxygen Nm³/min</td>
                        <td class="font-medium">300</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog header="Stand 1 to 6" [(visible)]="standDetails" [modal]="true" showEffect="fade" [style]="{width: '20vw'}" styleClass="p-fluid" [breakpoints]="{'960px': '75vw'}" (onHide)="hideDialog()">
        <p-header>
            <div>
                <span>Stand 1 to 6</span>
            </div>
        </p-header>
        <ng-template pTemplate="content">
            <div style="width: 18vw;">
                <p-table [value]="[{}]" [rows]="3" [loading]="loading" [scrollable]="true" [scrollHeight]="'80vh'"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines " [paginator]="false" responsiveLayout="scroll">
                    <ng-template pTemplate="body" let-rowData>
                    <tr >
                        <td style="border-top:1px solid rgb(204, 204, 204)">Person in Charge</td>
                        <td style="border-top:1px solid rgb(204, 204, 204)" class="font-medium">Abcd</td>              
                    </tr>
                    <tr>
                        <td>Heat No</td>
                        <td class="font-medium">92339</td>              
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td class="font-medium">SAE1018</td>              
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="font-medium">30/10/2024 06:11</td>              
                    </tr>
                    <tr>
                        <td>Finish Time</td>
                        <td class="font-medium">30/10/2024 09:23</td>              
                    </tr>
                    <tr>
                        <td>Ladle No</td>
                        <td class="font-medium">H7</td>              
                    </tr>
                    <tr>
                        <td>Weight (t)</td>
                        <td class="font-medium">31.7</td>              
                    </tr>
                    <tr>
                        <td>Oxygen Nm³/min</td>
                        <td class="font-medium">300</td>              
                    </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-dialog>
       
       
       
    <!-- </div> -->
</div>