.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.assetCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 2px;
}

.tableCaption{
  color: white;
  background-color: #b2c5cb;;
  height: 3vh;
}

.DetailsCard{
  // width: 10px;
  // background-color: rgb(93 93 93 / 90%);
  background-color: #4f99aa;
  color: #000000;
  position: fixed;
  top: 51.5vh;;
  z-index: 999;
  // right: 0px;
}

.w-full{
  width: 100%;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

.rowBackground{
  background-color: #90fc90;
}

.load{    
  height: 12px;
  background: blue;  
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.noload{
  width: 100px;    
  background-color: #c3c0c0;     
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #999999;    
  position: relative;
}

.loadtext {
  font-family: Consolas;    
  font-size: 11px;
  color: #ffffff;
  position: absolute;
  bottom: -1px;
  left: 5px
}

.anomalyCardBlink {
  background-color: #fffefe;
  animation: anomalyCardBlink 1s linear infinite;
}

.redBorderBlink {
  border:2px solid #FF2929;
  animation: redBorderBlink 1s linear infinite;
}

.orangeBorderBlink {
  border:2px solid orange;
  animation: orangeBorderBlink 1s linear infinite;
}
@keyframes anomalyCardBlink {
  0%{background-color: #FF2929;}
  50%{background-color: #fce7e7;}
  100%{background-color: #FF2929;}
}

.greenBorderBlink {
  border:2px solid rgb(0, 255, 0);
  animation: greenBorderBlink 1s linear infinite;
}

.bof_empty {
  background-image: url("../../../../assets/Icons/bof/bof_empty.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.bof_blue{
  background-image: url("../../../../assets/Icons/bof/bof_blue.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.bof_green {
  background-image: url("../../../../assets/Icons/bof/bof_green.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.bof_orange {
  background-image: url("../../../../assets/Icons/bof/bof_orange.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.bof_yellow {
  background-image: url("../../../../assets/Icons/bof/bof_yellow.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.bof_cross {
  background-image: url("../../../../assets/Icons/bof/bof_cross.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.lf_empty {
  background-image: url("../../../../assets/Icons/lf/lf_empty.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.lf_blue{
  background-image: url("../../../../assets/Icons/lf/lf_blue.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.lf_green {
  background-image: url("../../../../assets/Icons/lf/lf_green.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.lf_orange {
  background-image: url("../../../../assets/Icons/lf/lf_orange.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.lf_yellow {
  background-image: url("../../../../assets/Icons/lf/lf_yellow.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.lf_cross {
  background-image: url("../../../../assets/Icons/lf/lf_cross.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.vd_empty {
  background-image: url("../../../../assets/Icons/vd/vd_empty.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.vd_blue{
  background-image: url("../../../../assets/Icons/vd/vd_blue.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.vd_green {
  background-image: url("../../../../assets/Icons/vd/vd_green.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.vd_orange {
  background-image: url("../../../../assets/Icons/vd/vd_orange.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.vd_yellow {
  background-image: url("../../../../assets/Icons/vd/vd_yellow.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.vd_cross {
  background-image: url("../../../../assets/Icons/vd/vd_cross.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.ccm_empty {
  background-image: url("../../../../assets/Icons/ccm/ccm_empty.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.ccm_blue{
  background-image: url("../../../../assets/Icons/ccm/ccm_blue.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.ccm_green {
  background-image: url("../../../../assets/Icons/ccm/ccm_green.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.ccm_orange {
  background-image: url("../../../../assets/Icons/ccm/ccm_orange.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.ccm_yellow {
  background-image: url("../../../../assets/Icons/ccm/ccm_yellow.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.ccm_cross {
  background-image: url("../../../../assets/Icons/ccm/ccm_cross.svg");
  width: 110px;
  height: 130px;
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.standBackground_empty{
  background-color: white;
}
.standBackground_blue{
  background-color: rgb(5, 31, 227);
}
.standBackground_green{
  background-color: rgb(16, 191, 0);
}
.standBackground_yellow{
  background-color: rgb(255, 230, 0);
}
.standBackground_cross{
  background-color: rgb(248, 0, 0);
}

#container {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #646764;
  display: inline-block;
  top: -21px;
  left: -16px;
}

#container1 {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #646764;
  display: inline-block;
  top: -20px;
  left: -16px;
}

.circle1 {
  position: relative;
  top: 0px;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-top: 20px solid #6b6e6e;
  border-left: 18px solid transparent;
  border-bottom: 19px solid transparent;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -moz-transform: rotate(320deg);
  -webkit-transform: rotate(320deg);
  -o-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  animation: spin1 0.5s infinite linear;
  -webkit-animation: spin1 0.5s infinite linear;
}

@keyframes spin1 {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }

  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}

@-webkit-keyframes spin1 {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }

  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}

.standCard {
  // margin-right: 20px;
  height: 100px;
  width: 65px;
  text-align: center;
  align-content: center;
  margin-top: 15px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

@keyframes redBorderBlink {
  0%{border:2px solid #FF2929;}
  50%{border:2px solid #ffffff;}
  100%{border:2px solid #FF2929;}
}


@keyframes orangeBorderBlink {
  0%{border:2px solid rgb(252, 173, 25);}
  50%{border:2px solid #ffffff;}
  100%{border:2px solid rgb(252, 173, 25);}
}


@keyframes greenBorderBlink {
  0%{border:2px solid rgb(0, 255, 0);}
  50%{border:2px solid #ffffff;}
  100%{border:2px solid rgb(0, 255, 0);}
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

  