<div class="anomaly flex">
    <div class="col-5">
		<div class="card">
			<p-table [value]="anomalyData" [(selection)]="selectedData" selectionMode="single" [rows]="12" [loading]="loading" 
                [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true" responsiveLayout="scroll" (onRowSelect)="bindData()">
				<ng-template pTemplate="caption">
					<div class="flex align-items-center justify-content-between flex-column sm:flex-row">
						<div class="font-semibold text-xl">Anomalies</div>
						<span class="p-buttonset ml-3">
                            <!-- <button pButton pRipple  pTooltip="Add New" tooltipPosition="top" icon="pi pi-plus" class="p-button-success p-button" (click)="showAddDialog()" ></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil" class="p-button-warning p-button" (click)="showEditDialog()" ></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" class="p-button-danger p-button" (click)="delateCustomer_Submit()"></button> -->
                        </span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th >
                            Billet Id
                            <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
						</th>
						<th>
                            Name
						</th>
                        <th style="min-width: 10rem">
                            Start Time
						</th>
                        <th style="min-width: 10rem">
                            End Time
						</th>
				</ng-template>
				<ng-template pTemplate="body" let-rowData>
					<tr [pSelectableRow]="rowData">
						<td> {{rowData.BilletId}} </td>
						<td> {{rowData.Name}} </td>
						<td> {{rowData.StartTime  | date: 'dd/MM/YY HH:MM:ss'}} </td>
						<td> {{rowData.EndTime  | date: 'dd/MM/YY HH:MM:ss'}} </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="5">No Data found.</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>
	</div>
    <div class="col-7">
        <div class="card">
            <p-chart type="line" [data]="data" [options]="options" />
        </div>
    </div>
</div>