<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"> -->
        <img src="assets/Images/aic_logo.PNG" alt="logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <input type="text" pInputText placeholder="Enter PO Number" [(ngModel)]="inputPo" style="border-top-right-radius: 0%;border-bottom-right-radius: 0%;"/>
        <button class="p-button mr-3" style="border-top-left-radius: 0%;border-bottom-left-radius: 0%;"><i class="pi pi-search" style="height: 2vh;" (click)="showrfDialog()"></i></button>
        
        
        <i class="pi pi-bell text-3xl p-link mt-3" pBadge value="{{notificationCount}}" (click)="showNotification()"></i>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
    <div class="notification_overlay" *ngIf="showNotifications">
        <div class="header p-2 flex justify-content-between align-items-center border-bottom-1 border-gray-500">
            <div class="btnClose">
                <button pButton  label="Clear" class="p-button-sm px-3 py-1 p-button-rounded p-button-info" ></button>
            </div>
            <div class="closeIcon" (click)="closeNotification()">
                <i class="pi pi-times text-xl font-semibold"></i>
            </div>
        </div>
        <div class="notificationContent">
            <div class="alert-spinner"> </div>
            <div  class="notificationItem px-3 py-2 border-bottom-1 border-gray-400" *ngFor="let item of notificationData" (click)="router.navigate(['/TrackingSystem/overview/anomaly'])">
                <div class="grid">
                    <div class="col-6 text-lg" style="cursor: pointer;">{{item?.Name}} - <span class="font-semibold">{{item?.BilletId}}</span></div>
                    <div class="col-6 text-right text-sm" style="cursor: pointer;">{{item?.StartTime | date: 'dd/MM/YY HH:MM'}}</div>
                </div>
                <div style="cursor: pointer;">Anomaly Detected </div>
            </div>
        </div>
    </div>
    <p-dialog header="STATUS"  [(visible)]="dialogRF" [modal]="true" showEffect="fade" [style]="{width: '61vw'}" styleClass="p-fluid z-2" (onHide)="hideDialog()">
        <p-table [value]="[{}]"   selectionMode="single"  [rows]="10" [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Customer</th>
                    <th>Grade</th>
                    <th>Estimated Date</th>
                    <th>PO Number</th>
                    <th>Heat Number</th>
                    <th>No Of Billets </th>
                    <th>Size </th>
                    <th>Order Qty MT </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" style="color: blue;">
                    <td>{{customer}}</td>
                    <td>{{grade}}</td>
                    <td>{{estimateddate}}</td>  
                    <td>{{ponumber}}</td>
                    <td>{{heatno}}</td>
                    <td>{{noofbillets}}</td>
                    <td>{{size}}</td>
                    <td>{{orderqtymt}}</td>
                </tr>
                <!-- <tr [pSelectableRow]="rowData">
                    <td> BOF-1 </td>
                    <td>Completed</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> BOF-2 </td>
                    <td>Completed</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> Ladle Furnace </td>
                    <td>Completed</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> Vaccum Degassing </td>
                    <td>Completed</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> Continous Caster </td>
                    <td>Completed</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> Reheating Furnace </td>
                    <td>Completed</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> Rolling Mill </td>
                    <td>{{rolls}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> Cooling Bed </td>
                    <td>{{coolingbed}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> Cooling Bed Status </td>
                    <td>{{coolingbedstatus}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Cold Shear</td>
                    <td>{{coldShear}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Rack</td>
                    <td>{{rack}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Straightener</td>
                    <td>{{straightener}}</td>
                </tr>
                
                <tr [pSelectableRow]="rowData">
                    <td>Udt</td>
                    <td>{{udt}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Bundles</td>
                    <td>{{bundle}}</td>
                </tr>
                
                <tr [pSelectableRow]="rowData">
                    <td> Good Bars </td>
                    <td>{{goodbars}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Trash Bars</td>
                    <td>{{trashbars}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Corrected Bars</td>
                    <td>{{correctedbars}}</td>
                </tr> -->
            </ng-template>
            
        </p-table>
        <div class=" mt-2">
            <p-timeline [value]="timelineData" layout="horizontal" [align]="'alternate'" styleClass="text-sm" [style]="{height: '23rem'}">
                <ng-template pTemplate="marker" let-event>
                    <span
                        class="flex w-1rem h-1rem align-items-center justify-content-center text-white border-circle z-1 shadow-1"
                        [style]="{ 'background-color': event.color }" pTooltip="{{event.title}}">
                    </span>
                </ng-template>
        
                <ng-template pTemplate="content" let-event>
                    <p-card class="p-0"> 
                        <div class="font-medium">{{event.title}}</div>
                        <!-- <div class="font-semibold">{{event.Date}}</div> -->
                        <div class="text-sm" [style]="{color: 'event.color'}">{{event.status}}</div>
                        <!-- <div>{{event.desc}}</div> -->
                    </p-card>
                </ng-template>
            </p-timeline>
        </div>
        
    </p-dialog>
    
</div>