<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"> -->
        <img src="assets/Images/aic_logo.PNG" alt="logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <input type="text" pInputText placeholder="Enter PO Number" [(ngModel)]="inputPo"/>
        <button class="p-button mr-3"><i class="pi pi-search" style="height: 2vh;" (click)="showrfDialog()"></i></button>
        
        
        <i class="pi pi-bell text-3xl p-link mt-3" pBadge value="{{notificationCount}}" (click)="showNotification()"></i>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
    <div class="notification_overlay" *ngIf="showNotifications">
        <div class="header p-2 flex justify-content-between align-items-center border-bottom-1 border-gray-500">
            <div class="btnClose">
                <button pButton  label="Clear" class="p-button-sm px-3 py-1 p-button-rounded p-button-info" ></button>
            </div>
            <div class="closeIcon" (click)="closeNotification()">
                <i class="pi pi-times text-xl font-semibold"></i>
            </div>
        </div>
        <div class="notificationContent">
            <div class="alert-spinner"> </div>
            <div  class="notificationItem px-3 py-2 border-bottom-1 border-gray-400" *ngFor="let item of notificationData" (click)="router.navigate(['/TrackingSystem/overview/anomaly'])">
                <div class="grid">
                    <div class="col-6 text-lg" style="cursor: pointer;">{{item?.Name}} - <span class="font-semibold">{{item?.BilletId}}</span></div>
                    <div class="col-6 text-right text-sm" style="cursor: pointer;">{{item?.StartTime | date: 'dd/MM/YY HH:MM'}}</div>
                </div>
                <div style="cursor: pointer;">Anomaly Detected </div>
            </div>
        </div>
    </div>
    <p-dialog header="STATUS" [(visible)]="dialogRF" [modal]="true" showEffect="fade" [style]="{width: '20vw'}" styleClass="p-fluid" (onHide)="hideDialog()">
        
        <p-table [value]="[{}]"   selectionMode="single"  [rows]="10" [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                    <td> Po Number </td>
                    <td>{{inputPo}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> Rolls </td>
                    <td>{{rolls}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td> Cooling Bed </td>
                    <td>{{coolingbed}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Cold Shear</td>
                    <td>{{coldShear}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Rack</td>
                    <td>{{rack}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Straightener</td>
                    <td>{{straightener}}</td>
                </tr>
                
                <tr [pSelectableRow]="rowData">
                    <td>Udt</td>
                    <td>{{udt}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Bundles</td>
                    <td>{{bundle}}</td>
                </tr>
                
                <tr [pSelectableRow]="rowData">
                    <td> Good Bars </td>
                    <td>{{goodbars}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Trash Bars</td>
                    <td>{{trashbars}}</td>
                </tr>
                <tr [pSelectableRow]="rowData">
                    <td>Corrected Bars</td>
                    <td>{{correctedbars}}</td>
                </tr>
            </ng-template>
            
        </p-table>
        
    </p-dialog>
</div>