<div class="rollingMill">
    <div class="stands flex justify-content-between" >
        <div  *ngFor="let item of stands">
            <div class="card" (click)="showStandData(item)" pTooltip="{{item.name}}">
                <div id="container1">
                    <div class="circle1"  ></div>
                    <!--<div *ngIf="stand.status && !stand.idle" class="circle2">
                    </div>
                    <div *ngIf="stand.status && !stand.idle" class="circle3">
                    </div> -->
                </div> 
                <div class="line" [ngClass]="item?.billetStatus ? 'onlineBilletBG':'onlineBilletTBG'"></div>
         
                <div id="container">
                    <div class="circle1"></div>
                    <!-- <div  *ngIf="stand.status && !stand.idle" class="circle2">
                    </div>
                    <div *ngIf="stand.status && !stand.idle" class="circle3">
                    </div> -->
                </div>
            </div>
        </div>       
    </div>

    <p-dialog header="Laddle Furnace" [(visible)]="standDialog" [modal]="true" showEffect="fade" [style]="{width: '27vw'}" styleClass="p-fluid" [breakpoints]="{'960px': '75vw'}" (onHide)="hideDialog()">
        <p-header>
            <div>
                <span>{{dialogData?.name}}</span>
            </div>
        </p-header>
        <ng-template pTemplate="content">
           <div>
            <p-table [value]="[{}]" dataKey="id"  selectionMode="single" [paginator]="false" [rows]="11" [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 10rem" colspan="2">
                            <div class="flex justify-content-between align-items-center">
                                Process Stats
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td>Stand</td>
                        <td class="px-2 py-1">
                            <label class="font-semibold">{{dialogData?.id}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Billet Id</td>
                        <td class="px-2 py-1">
                            <label class="font-semibold">13234</label>
                        </td>
                    </tr>
                    <tr>
                        <td>RollDia</td>
                        <td class="px-2 py-1">
                            <label class="font-semibold">{{dialogData?.dia}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td class="px-2 py-1">
                            <label class="font-semibold">11/09/24 08:30</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Finish Time</td>
                        <td class="px-2 py-1">
                            <label class="font-semibold">11/09/24 08:45</label>
                        </td>
                    </tr>
                    <tr>
                        <td>R-factor</td>
                        <td class="px-2 py-1">
                            <label class="font-semibold">{{dialogData?.rFactor}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Speed</td>
                        <td class="px-2 py-1">
                            <label class="font-semibold">{{dialogData?.speed}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>RPM</td>
                        <td class="px-2 py-1">
                            <label class="font-semibold">{{dialogData?.dia}}</label>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">No Data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="4">Loading Vaccum Degasser data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
           </div>            
        </ng-template>
    </p-dialog>

</div>
