.tempchart {
    canvas{
        box-sizing: border-box;
        display: block;
        height: 260px;
        width: 1447px;
    }

}

.p-progressbar .p-progressbar-value {
    background: #7aa5d2 !important;
}