<div class="bof1">
    <div class="row">
        <div class="col-12">
            <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" 
            [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between flex-column sm:flex-row">
                        <div class="font-semibold text-xl">Bof-1</div>
                        <span class="p-buttonset ml-3">
                            <button pButton pRipple  pTooltip="Add New" tooltipPosition="top" icon="pi pi-plus" class="p-button-success p-button" ></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil" class="p-button-warning p-button"></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" class="p-button-danger p-button"></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th> Status </th>
                        <th> Heat No </th>
                        <th> Date</th>
                        <th> Start Time</th>
                        <th> End Time</th>
                        <th> Team No </th>
                        <th> Shift No </th>
                        <th> Steel Grade </th>
                        <th> Ladle No </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr style="background-color: #91d991;">
                        <td> Ongoing </td>
                        <td> 241617 </td>
                        <td> 15/10/2024 </td>
                        <td> 15/10/2024 08:23:45 </td>
                        <td></td>
                        <td> 4 </td>      
                        <td> 2 </td>      
                        <td> C45 </td>      
                        <td> 2 </td>      
                    </tr>
                    <tr >
                        <td> Finished </td>
                        <td> 241616 </td>
                        <td> 14/10/2024 </td>
                        <td> 14/10/2024 06:11:00 </td>
                        <td> 14/10/2024 12:16:50</td>
                        <td> 3 </td>      
                        <td> 1 </td>      
                        <td> C45 </td>      
                        <td> 1 </td>      
                    </tr>
                    <tr >
                        <td> Schedule </td>
                        <td> 241618 </td>
                        <td> 15/10/2024 </td>
                        <td></td>
                        <td></td>
                        <td> 5 </td>      
                        <td> 3 </td>      
                        <td> C45 </td>      
                        <td> 3 </td>      
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No Data found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <span>Progress</span>
            <p-progressBar [value]="progressValue" />
        </div>
    </div>
    <div class="flex">
        <div class="col-6">
            <div class="card">
                <span >Temperature</span>
                <p-chart type="line" [data]="Tempdata" [options]="Tempoptions" class="tempChart" />
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <span >Oxydation</span>
                <p-chart type="line" [data]="Oxydata" [options]="Oxyoptions" class="tempChart" />
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="col-4">
            <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" 
            [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between flex-column sm:flex-row">
                        <div class="font-semibold text-xl">Alloys</div>
                        <span class="p-buttonset ml-3">
                            <button pButton pRipple  pTooltip="Add New" tooltipPosition="top" icon="pi pi-plus" class="p-button-success p-button" ></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil" class="p-button-warning p-button"></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" class="p-button-danger p-button"></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th> Deoxidizer in Ladle </th>
                        <th> OZM of Deoxidizer </th>
                        <th> Weight (kg)</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td> SiMn </td>
                        <td> 105000076 </td>
                        <td> 584 </td>   
                    </tr>
                    <tr >
                        <td> FeSi </td>
                        <td> 105000088 </td>
                        <td> 185 </td>     
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="3">No Data found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-8">
            <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" 
            [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between flex-column sm:flex-row">
                        <div class="font-semibold text-xl">Metal Stirring and Dart</div>
                        <span class="p-buttonset ml-3">
                            <button pButton pRipple  pTooltip="Add New" tooltipPosition="top" icon="pi pi-plus" class="p-button-success p-button" ></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil" class="p-button-warning p-button"></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" class="p-button-danger p-button"></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="5">Metal Stirring in Ladle with Neutral Gas</th>
                        <th colspan="4">Dart</th>
                    </tr>
                    <tr>
                        <th>Q (hh/min) </th>
                        <th> P (kg/sm) </th>
                        <th> Start Time</th>
                        <th> End Time</th>
                        <th> Duration</th>
                        <th>Dart Reach Indication </th>
                        <th>Dart Throw Indication </th>
                        <th>Closer plug</th>
                        <th>Further plug</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td> 9.97 </td>
                        <td> 12.72 </td>
                        <td> 08:20:00 </td>   
                        <td> 08:45:19 </td>   
                        <td> 338 </td>   
                        <td> 1</td>
                        <td> 1</td>
                        <td> </td>   
                        <td>  </td>   
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No Data found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div>
        <div class="col-12">
            <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [rows]="3" [loading]="loading" 
            [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between flex-column sm:flex-row">
                        <div class="font-semibold text-xl">Chemical Composition</div>
                        <span class="p-buttonset ml-3">
                            <button pButton pRipple  pTooltip="Add New" tooltipPosition="top" icon="pi pi-plus" class="p-button-success p-button" ></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil" class="p-button-warning p-button"></button>
                            <button pButton pRipple [disabled]="!selectedData" pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" class="p-button-danger p-button"></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Probe No </th>
                        <th>Time</th>
                        <th>C</th>
                        <th>Mn</th>
                        <th>Si</th>
                        <th>S</th>
                        <th>P</th>
                        <th>Cu</th>
                        <th>Ni</th>
                        <th>Cr</th>
                        <th>Mo</th>
                        <th>AI</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td> 1</td>
                        <td> 15/10/2024 08:30:22</td>
                        <td>0.031 </td>   
                        <td> 0.073 </td>   
                        <td> 0.005 </td>   
                        <td> 0.02 </td>   
                        <td> 0.017 </td>   
                        <td> 0.009 </td>   
                        <td> 0.011 </td>   
                        <td> 0.027 </td>   
                        <td> 0 </td>   
                        <td> 0 </td>   
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12">No Data found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>