<div class="logSheet">    
    <div class="p-card flex">
        <div class="flex flex-column justify-content-evenly cardSection1" style="border-right: 1px solid rgb(230, 230, 230);">
            <div class="flex align-items-center mt-1 ml-1">
                <label class="font-semibold cardLabel" >Date </label>:
                <div class="ml-3 font-semibold cardInput">
                    <p-calendar appendTo="body" [minDate]="minDate" [style]="{height:'2rem',width: '8rem'}"  [disabled]="false" [(ngModel)]="dialogData.date" [showTime]="false" hourFormat="24" dateFormat="dd/mm/yy" [showSeconds]="false" inputId="time"></p-calendar>
                </div>
                <div class="flex align-items-center mt-1 ml-1">
                    <label class="font-semibold cardLabel" >Heat No </label>:
                    <div class=" ml-2 font-semibold cardInput">
                        <input pInputText type="text" [style]="{height:'2rem',width: '8rem'}" [(ngModel)]="dialogData.heatNo" maxlength="10" />
                    </div>
                </div>
                <div class="flex align-items-center mt-1 ml-1">
                    <label class="font-semibold cardLabel" >Shift </label>:
                    <div class=" ml-2 font-semibold cardInput">
                        <p-dropdown  [(ngModel)]="dialogData.shiftId" [style]="{height:'2rem',width: '8rem'}" [showClear]="false" [options]="shift" placeholder="Shift" optionValue="id" optionLabel="name" appendTo="body"> </p-dropdown>           
                    </div>
                </div>
            </div>
           
            <div class="flex align-items-center mt-1 ml-1">
                <label class="font-semibold cardLabel" >Grade </label>:
                <div class=" ml-2 font-semibold cardInput">
                    <p-dropdown appendTo="body" [(ngModel)]="dialogData.steelGradeId" [style]="{height:'2rem',width: '8rem'}" [options]="steelGradeList" [showClear]="false"  [filter]="true" filterBy="name" placeholder="Grade"  optionLabel="name" optionValue="id">
                        <ng-template let-option pTemplate="item">
                            <div>
                                <span class="ml-1 mt-1">{{ option.name }} </span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    
                </div>
                <div class="flex align-items-center mt-1 ml-1">
                    <label class="font-semibold cardLabel" >Type </label>:
                    <div class=" ml-2 font-semibold cardInput">
                        <p-dropdown  [(ngModel)]="dialogData.gradeTypeId" [style]="{height:'2rem',width: '8rem'}" [showClear]="false" [options]="GradeClassifyList" placeholder="Type" optionValue="id" optionLabel="name" appendTo="body"> </p-dropdown>           
                    </div>
                </div>
                <div class="flex align-items-center mt-1 ml-1">
                    <label class="font-semibold cardLabel" >TAS No</label>:
                    <div class=" ml-2 font-semibold cardInput">
                        <input pInputText type="text" [style]="{height:'2rem',width: '8rem'}" [(ngModel)]="dialogData.tas" maxlength="10" />
                    </div>
                </div>
               
            </div>
           
            
            </div>
            
            
        <div class="ml-3">
            <div>
                <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [tableStyle]="{'min-width': '10rem'}"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="false">
                    <!-- <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between flex-column sm:flex-row">
                            <div class="font-semibold text-xl">LADLE FURNACE</div>
                            <span class="p-buttonset ml-3">
                                <button pButton pRipple  pTooltip="Add New" tooltipPosition="top" icon="pi pi-plus" class="p-button-success p-button" ></button>
                                <button pButton pRipple [disabled]="!selectedData" pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil" class="p-button-warning p-button"></button>
                                <button pButton pRipple [disabled]="!selectedData" pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" class="p-button-danger p-button"></button>
                            </span>
                        </div>
                    </ng-template> -->
                    <ng-template pTemplate="header">
                        <tr>
                          <th></th>
                          <th colspan="6" class="text-center" style="width: 40rem;">HOT METAL DETAILS</th>
                          <th colspan="5" class="text-center">HM Chemistry</th>
                        </tr>
                        <tr>
                            <th>BF Cast No(s)</th>
                            <th>BOF No/Life</th>
                            <th>HM Ladle No</th>
                            <th>HM arriving time at SMS</th>
                            <th>HM Temp in SMS</th>
                            <th>HM Weight</th>
                            <th>C</th>                       
                            <th>Si</th>
                            <th>Mn</th>
                            <th>P</th>
                            <th>S</th>
                            
                            
                            <!-- <th>Ni</th>
                            <th>Cu</th>
                            <th>Mo</th>
                            <th>Al</th>
                            <th>V</th>
                            <th>Ti</th>
                            <th>Ca</th>
                            <th>B</th>
                            <th></th>
                            <th>N2</th>
                            <th>H2</th>
                            <th>O2</th> -->
                          </tr>
                           
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                             
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            
                        </tr>
                        <tr>
                             
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <tr>
                             
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                                <td style="padding: 0%;">
                                    <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '6rem',padding:'2%'}"  maxlength="10" />
                                </td>
                    <!-- </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td>CE :</td>
                            <td colspan="3"style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '9rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td></td>
                            <td colspan="2">Jominy :</td>
                            <td colspan="3"style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '9rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td>Dl :</td>
                            <td colspan="3"style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '9rem',padding:'2%'}"  maxlength="10" />
                            </td> -->
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="18">No Data found.</td>
                        </tr>
                    </ng-template>
                </p-table>
                
            </div>
            <div class="mt-3 mb-2">
                <p-table [value]="[{}]" [(selection)]="selectedData" selectionMode="single" [tableStyle]="{'min-width': '10rem'}"
                [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="false">
                    <!-- <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between flex-column sm:flex-row">
                            <div class="font-semibold text-xl">LADLE FURNACE</div>
                            <span class="p-buttonset ml-3">
                                <button pButton pRipple  pTooltip="Add New" tooltipPosition="top" icon="pi pi-plus" class="p-button-success p-button" ></button>
                                <button pButton pRipple [disabled]="!selectedData" pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil" class="p-button-warning p-button"></button>
                                <button pButton pRipple [disabled]="!selectedData" pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" class="p-button-danger p-button"></button>
                            </span>
                        </div>
                    </ng-template> -->
                    <ng-template pTemplate="header">
                        <tr>
                          <th></th>
                          <th colspan="15" class="text-center">Tapping additions in (Kgs)</th>
                        </tr>
                        <tr>
                            <th>Al Bar</th>
                            <th>SiMn</th>
                            <th>FeSi</th>
                            <th>HC FeMn</th>
                            <th>Hc FeCr</th>
                            <th>LTi FeCr</th>
                            <th>CPC</th>
                            <th>MC FeMn</th>
                            <th>Gr Fines</th>
                            <th>Cu</th>
                            <th>S Sticks</th>
                            <th>Lime</th>
                            <th>MgO Powder</th>
                            <th>Cal Dolomite</th>
                          </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                            <td style="padding: 0%;">
                                <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="22">No Data found.</td>
                        </tr>
                    </ng-template>
                    
                </p-table>
            </div>
        </div>

    </div>
    <div class="p-card">
        <div class="col-12">
            <p-table [value]="logSheetList1" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
            [tableStyle]="{'min-width': '10rem'}" [loading]="isMasterDataLoaded" selectionMode="single" [(selection)]="selectedData"  [scrollable]="true" scrollHeight="67vh">
            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="2"></th>               
                    <!-- <th colspan="2" class="text-center">
                        Arcing Details
                    </th>
                    <th rowspan="2">
                        Temp (°C)
                    </th> -->
                    <th colspan="11" class="text-center">
                        Blowing Details
                    </th>
                    <th colspan="3" class="text-center">
                       Reblow Details
                    </th>     
                </tr>
                <tr>
                    <th>
                       Lance No/Life
                    </th>
                    <th >
                        Lance Calibration
                    </th>
                    <th>
                        Lance Error
                    </th>
                    <th colspan="2">
                        Lance Height (m)
                        
                    </th>
                    <th>
                        HM Charging Time
                    </th>
                    <th>
                        Blow Start Time
                    </th>
                    <th>
                        Blow End Time
                    </th>
                    <th>
                        Blow duration (mins)
                    </th>
                    <th>
                        Total O2
                    </th>
                    <th>
                        Total N2 
                    </th>
                    <th>
                       Time (min)
                    </th>
                    <th>
                       O2
                    </th>
                    <th>
                        Reason
                    </th>
                    
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Max</th>
                    <th>Min</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-index="rowIndex">
                <tr [pSelectableRow]="rowData" [pReorderableRow]="index">
                    <td>
                        <button pButton pRipple  pTooltip="Remove" tooltipPosition="top" icon="pi pi-trash" class="p-button-danger p-button-sm" (click)="removeItem(index)"></button>
                    </td>
                    <td>
                        {{rowData.q}}
                    </td>
                    <td>
                        {{rowData.q}}
                    </td>
                    <td>
                        {{rowData.q}}
                    </td>
                    <td>
                        {{rowData.r}}
                    </td>
                    <td>
                        {{rowData.w}}
                    </td>
                    <td>
                        {{rowData.e}}
                    </td>
                    <td>
                        {{rowData.r}}
                    </td>
                    <td>
                        {{rowData.e}}
                    </td>
                    <td>
                        {{rowData.e}}
                    </td>
                    <td>
                        {{rowData.f}}
                    </td>
                    <td>
                        {{rowData.s}}
                    </td>
                    <td>
                        {{rowData.f }}
                    </td>
                    <td>
                        {{rowData.d}}
                    </td>
                    <td>
                        {{rowData.d}}
                    </td>
                    <td>
                        {{rowData.c}}
                    </td>
                    <td>
                        {{rowData.c}}
                    </td>
                    <td>
                        {{rowData.c}}
                    </td>
                    <td>
                        {{rowData.v}}
                    </td>
                    <td>
                        {{rowData.c}}
                    </td>
                    <td>
                        {{rowData.c}}
                    </td>
                    <td>
                        {{rowData.c}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td>
                        <button pButton pRipple pTooltip="Add New" tooltipPosition="top" icon="pi pi-plus" class="p-button-success p-button" (click)="addNewItem_to_List()"></button>
                    </td>
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>
                    <td style="padding: 0%;">
                        <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                    </td>
                    
                    <td style="padding: 0%;">
                        <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                    </td>
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>  
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>  
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>                        
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>
                    <td>
                        <input pInputText type="number" [style]="{height:'2rem',width: '5rem'}" maxlength="10" />
                    </td>
                    <td style="padding: 0%;">
                        <input pInputText type="text" class="text-sm" [style]="{height:'2rem',width: '5rem',padding:'2%'}"  maxlength="10" />
                    </td>
                    
                <tr *ngIf="errorMessage">
                    <td colspan="5">
                        <small class="p-error">{{errorMessage}}</small>                    
                    </td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        <div class="col-12">
            <p-table [value]="logSheetList2" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
                [tableStyle]="{'min-width': '10rem'}" [loading]="isMasterDataLoaded" selectionMode="single"
                [(selection)]="selectedData" [scrollable]="true" scrollHeight="67vh">
                <ng-template pTemplate="header">
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2">Scrap Box No</th>
                        <th colspan="8" class="text-center">
                            Scrap Details (MT)
                        </th>
                        
                    </tr>
                    <tr>
                        
                        <th>
                           Steel Scrap
                        </th>
                        <th>
                            Slag Mixed Scrap
                        </th>
                        <th>
                            Rolling Mill Scrap
                        </th>
                        <th>
                            Iron Scrap
                        </th>
                        <th>
                            PCM Skull
                        </th>
                        <th>
                            SPM Scrap
                        </th>
                        <th>
                          TOTAL
                        </th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-index="rowIndex">
                    <tr [pSelectableRow]="rowData" [pReorderableRow]="index">
                        <td>
                            <button pButton pRipple pTooltip="Remove" tooltipPosition="top" icon="pi pi-trash"
                                class="p-button-danger p-button-sm" (click)="removeItem2(index)"></button>
                        </td>
                        <td>
                            {{rowData.q}}
                        </td>
                        <td>
                            {{rowData.q}}
                        </td>
                        <td>
                            {{rowData.q}}
                        </td>
                        <td>
                            {{rowData.r}}
                        </td>
                        <td>
                            {{rowData.w}}
                        </td>
                        <td>
                            {{rowData.e}}
                        </td>
                        
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td>
                            <button pButton pRipple pTooltip="Add New" tooltipPosition="top" icon="pi pi-plus"
                                class="p-button-success p-button" (click)="addNewItem_to_List2()"></button>
                        </td>
                        <td>
                            <input pInputText type="text" [style]="{height:'2rem',width: '6rem'}" maxlength="10" />
                        </td>
                        <td>
                            <input pInputText type="text" [style]="{height:'2rem',width: '6rem'}" maxlength="10" />
                        </td>
                        <td>
                            <input pInputText type="text" [style]="{height:'2rem',width: '6rem'}" maxlength="10" />
                        </td>
                        <td>
                            <input pInputText type="text" [style]="{height:'2rem',width: '6rem'}" maxlength="10" />
                        </td>
                        <td>
                            <input pInputText type="text" [style]="{height:'2rem',width: '6rem'}" maxlength="10" />
                        </td>
                        <td>
                            <input pInputText type="text" [style]="{height:'2rem',width: '6rem'}" maxlength="10" />
                        </td>
                        <td>
                            <input pInputText type="text" [style]="{height:'2rem',width: '6rem'}" maxlength="10" />
                        </td>
                        <td>
                            <input pInputText type="text" [style]="{height:'2rem',width: '6rem'}" maxlength="10" />
                        </td>
                        
                        
                    </tr>
                    <tr *ngIf="errorMessage">
                        <td colspan="22">
                            <small class="p-error">{{errorMessage}}</small>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    
</div>

